@{ Layout = "_LayoutAdmin";
    ViewData["Title"] = "Dashboard";
}

<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="m-t-40" style="height:200px;" id="chartBar"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->

@section scripts{
    <script>
        $.toast({
            heading: 'Welcome to Compensation Applications',
            text: 'Please fill out the request form, or view previous requests.',
            position: 'top-right',
            loaderBg:'#ff6849',
            icon: 'info',
            hideAfter: 10000,
            stack: 6
        });

        var options = {
            chart: {
                type: 'line'
            },
            series: [{
                name: 'Requester',
                data: []
            }],
            xaxis: {
                categories: []
            }
        }

        var chart = new ApexCharts(document.querySelector("#chartBar"), options);

        chart.render();

        $.ajax({
            type: "Get",
            url: "https://localhost:44317/API/Dashboard/Chart",
            headers: { 'Authorization': 'Bearer ' + localStorage.token },
            success: function (result) {
                var data = [];
                var categories = [];
                result.result.map(x => { data.push(x.request); });
                result.result.map(x => { categories.push(x.year); });
                chart.updateSeries([
                    {
                        name: 'Year',
                        data: data,
                        categories: categories
                    }
                ])
            }
        })
    </script>
} 