@{ Layout = "_LayoutAdmin";
    ViewData["Title"] = "Account Setting";
}

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">@ViewData["Title"]</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard/Index">Home</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change password</h4>
                    <form class="form-horizontal form-material" id="accountSetting">
                        <div class="form-group m-t-40" id="passGroup">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="Password" id="oldPassword" required="" placeholder="Current Password">
                            </div>
                            <div class="form-control-feedback" id="validationPass" style="display: none">sorry this password doesn't exist</div>
                        </div>
                        <div class="form-group" id="newPassGroup">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="Password" id="newPassword" minlength="8" placeholder="New Password">
                            </div>
                            <div class="form-control-feedback" id="validNewPass" style="display: none">passwords must be different</div>
                        </div>
                        <div class="form-group" id="confirmPassGroup">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" id="confirmPassword" minlength="8" placeholder="Confirm New Password">
                            </div>
                            <div class="form-control-feedback" id="passwordnull" style="display: none">please retype new password</div>
                            <div class="form-control-feedback" id="passwordmatch" style="display: none">password doesn't match</div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" id="changePass">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@section scripts
{
    <script>
        var cpass, newpass, pass;
        $('#oldPassword').on('click', function () {
            $('#newPassGroup').removeClass('has-danger');
            $('#validationPass').hide();
        })

        $('#confirmPassword').on('keyup',function () {
            pass = $('#newPassword').val();
            cpass = this.value;
            if (cpass != pass) {
                $('#confirmPassGroup').addClass('has-danger');
                $('#passwordmatch').show();
                $('#submit').attr('disable', true);
            } else {
                $('#confirmPassGroup').removeClass('has-danger').addClass('has-success');
                $('#confirmPassword').addClass('form-control-success');
                $('#passwordmatch').hide();
                $('#submit').attr('disable', false);
            }
        })

        $('#newPassword').keyup(function () {
            oldPass = $('#oldPassword').val();
            newPass = this.value;
            cpass = $('#confirmPassword').val();
            if (newPass == oldPass) {
                $('#newPassGroup').addClass('has-danger');
                $('#validNewPass').show();
                $('#submit').attr('disable', true);
            } 
            else {
                $('#newPassGroup').removeClass('has-danger');
                $('#validNewPass').hide();
                $('#submit').attr('disable', false);
            }
        })

        $('#accountSetting').submit(function (event) {
            event.preventDefault();
            newPass = $('#newPassword').val();
            pass = $('#oldPassword').val();
            if (newPass != pass) {
                $('#newPassGroup').removeClass('has-danger');
                $('#validationPass').hide();
                $.ajax({
                    type: "POST",
                    url: "/Account/Check",
                    data: { 'pass': pass },
                    headers: { 'Authorization': 'Bearer ' + localStorage.token },
                    success: function (result) {
                        var data = result['message'];
                        if (data == "Correct") {
                            $('#passGroup').removeClass('has-danger');
                            $('#validationPass').hide();
                            var account = new Object();
                            account.password = newPass;
                            $.ajax({
                                type: "POST",
                                url: "/Account/Put",
                                data: JSON.parse(JSON.stringify(account)),
                                headers: { 'Authorization': 'Bearer ' + localStorage.token },
                                success: function (data) {
                                    Swal.fire({
                                        title: 'You have successfully changed your password. <br />Please Sign in again',
                                        icon: 'success',
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'OK'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = "@Url.Action("Index", "Account")";
                                        }
                                    })
                                }
                            })
                        } else {
                            $('#passGroup').addClass('has-danger');
                            $('#validationPass').show();
                        }
                    }
                })
            } else {
                $('#newPassGroup').addClass('has-danger');
                $('#validationPass').show();
            }
        });

    </script>
}
