@{ ViewBag.Title = "CA-FORGOT PASSWORD";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="footer mt-auto py-3 bg-transparent">
        <div style="position: fixed; left: 0; bottom: 10px; width: 100%; color: transparent; text-align:center; color:black">

        </div>
    </header>
    <div class="container-fluid">
        <div class="flex-md-wrap container col-lg-4 align-content-center">
            <div class="card-container">
                <div class="card-body">
                    <h3 class="text-center m-0">
                        <a href="" class="logo logo-admin">
                            <img src="~/src/images/mii-logo.png" height="50" alt="logo" />
                        </a>
                    </h3>
                    <div class="p-3">
                        <h4 class="text-muted font-18 m-b-5 text-center"><br />Recover your account</h4>
                        <p class="text-muted text-center">We can help you reset your password. <br/> First, enter your email and follow the instructions below.</p><br />
                        <form id="loginForm" name="loginForm">
                            <div class="form-group">
                                <input type="email" class="form-control" name="Email" id="Email" placeholder="Email">
                            </div>
                            <br />
                            <div class="form-group row m-t-20">
                                <div class="col-sm-12 text-right">
                                    <a href="@Url.ActionLink("Index","Account")" class="btn btn-secondary">Cancel</a>
                                    <button class="btn btn-primary" type="submit">Send link</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-transparent">
        <div style="position: fixed; left: 0; bottom: 10px; width: 100%; color: transparent; text-align:center; color:black">
            &copy; 2021 PT Mitra Integrasi Informatika. All Rights Reserved.
        </div>
    </footer>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
   $("#loginForm").submit(function (e) {

        e.preventDefault();

        var form = $(this)
        $.ajax({
            type: "POST",
            url: "Account/LoginAction",
            data: form.serialize(),
            success: function (data) {
            console.log(data['result'])
                    //window.location.href = "@Url.Action("Index", "Person")";
            }
        });

   })

</script>
