@{ Layout = "_LayoutAdmin";
    ViewData["Title"] = "Profile";
}


<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">@ViewData["Title"]</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard/Index">Home</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">My @ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <center class="m-t-30">
                                        <img src="/lib/assets/images/users/user.png" class="img-circle" width="100" />
                                        <h4 class="card-title m-t-10" id="NIK"></h4>
                                        <h6 class="card-subtitle" id="EmployeeName"></h6>
                                    </center>
                                </div>
                            </div>
                            <h3 class="box-title">Details @ViewData["Title"]</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Email</strong>
                                        <br>
                                        <p class="text-muted" id="Email"></p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Phone</strong>
                                        <br>
                                        <p class="text-muted" id="Phone"></p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Birth</strong>
                                        <br>
                                        <p class="text-muted" id="Birth"></p>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <strong>Address</strong>
                                        <br>
                                        <p class="text-muted" id="Address"></p>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Department:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="DepartmentName"></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Position:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="PositionName"></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Join Date:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="JoinDate"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Manager:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="ManagerName"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

@section scripts
{
    <script>
        $(document).ready(function () {
            debugger;
            var currentNIK = "117100";

            $.ajax({
                url: "/Employee/GetById/",
                type: "GET",
                data: { 'key': currentNIK },
                headers: { 'Authorization': 'Bearer ' + localStorage.token },
                success: function (result) {
                    var data = result["result"];
                    $('#NIK').html(data.nik);
                    $('#EmployeeName').html(data.employeeName);
                    $('#Email').html(data.email);
                    $('#Phone').html(data.phone);
                    $('#Birth').html(data.birthPlace + ', <br/ > ' + moment(data.birthDate).format('DD-MM-YYYY'));
                    $('#Address').html(data.address);
                    $('#DepartmentName').html(data.position.department.departmentName);
                    $('#PositionName').html(data.position.positionName);
                    $('#ManagerName').html(data.manager.employeeName);
                    $('#JoinDate').html(moment(data.joinDate).format('DD-MM-YYYY'));
                }
            })
        });
    </script>
}
