@{ Layout = "_LayoutAdmin";
    ViewBag.Title = "New Request";
}

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">@ViewData["Title"]</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <a href="/Request/Index" class="btn pull-right hidden-sm-down btn-outline-secondary"><i class="mdi mdi-keyboard-backspace"></i> Back</a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <h3 class="box-title">Person Info</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Requester Name: </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="Requester"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Department: </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="DepartmentName"></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Relational Manager: </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="ManagerName"></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Position: </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="PositionName"></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-4">Join Date: </label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" id="JoinDate"></p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <h3 class="box-title m-t-40">New Request</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Compensation Type</label>
                                        <select class="form-control custom-select" id="CompensationID" name="CompensationID"></select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Event Date</label>
                                        <input type="date" class="form-control" id="EventDate" name="EventDate" onchange="validateDED()">
                                        <small class="text-danger" id="errorMessage"></small>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" id="compensationDetail">
                                    </div>
                                </div>
                                <div class="col-md-6 bag">
                                    <div class='element' id='div_1'>
                                        <div class="input-group">
                                            <input type="file" name="file" class="custom-file" id="txt_1" accept="image/jpg, image/jpeg, .pdf" />
                                            <span class="add btn btn-sm btn-outline-success pull-right">Add File</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Send Request</button>
                            <button type="button" class="btn btn-inverse">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
</div>

@section scripts
{
    <script>
        //nanti diganti pake session
        var currentNIK = "117100"
        var compensationID

        let compensationValue = new Map()
        let compensationRequirement = new Map()

        $(document).ready(function () {
            $.ajax({
                url: "/Employee/GetById",
                type: "GET",
                data: { 'key': currentNIK },
                success: function (result) {
                    var data = result["result"];
                    $('#Requester').html(data.employeeName)
                    $('#DepartmentName').html(data.position.department.departmentName)
                    $('#PositionName').html(data.position.positionName)
                    $('#ManagerName').html(data.manager.employeeName)
                    $('#JoinDate').html(moment(data.joinDate).format('DD-MM-YYYY'))
                }
            });

            compensationRequirement.set("Wedding", "KK & KTP")
            compensationRequirement.set("Baby Gift", "KK")
            compensationRequirement.set("Grief", "KK")

            var compensationDropdown = '<option value="-1">Please select a compensation type</option>';
            $.ajax({
                type: "GET",
                url: '/compensation/get',
                success: function (result) {
                    var data = result['result']
                    for (var i = 0; i < data.length; i++) {
                        compensationDropdown += '<option value="' + data[i].compensationID + '">' + data[i].compensationName + '</option>';
                        $("#CompensationID").html(compensationDropdown);
                        compensationValue.set(data[i].compensationName, data[i].cost)
                    }
                }
            });

            $(".add").click(function () {
                var total_element = $(".element").length;
                var lastid = $(".element:last").attr("id");
                var split_id = lastid.split("_");
                var nextindex = Number(split_id[1]) + 1;
                var max = 2;

                if (total_element < max) {
                    $(".element:last").after("<div class='element' id='div_" + nextindex + "'></div>");
                    $("#div_" + nextindex).append("<br/><div class='input-group'><input type='file' name='file' class='custom-file' id='txt_"
                        + nextindex + "' accept='image/jpg, image/jpeg, .pdf' /><br /><span id='remove_"
                        + nextindex + "' class='remove btn btn-sm btn-outline-danger pull-right'>Abort</span></div>");
                }
            });

            $('.bag').on('click', '.remove', function () {
                var id = this.id;
                var split_id = id.split("_");
                var deleteindex = split_id[1];

                $("#div_" + deleteindex).remove();
            });
        });

        function ValidateDED() {
            var dateString = new Date($('#EventDate').val());
            var dateNow = new Date();
            if ($('#EventDate').val() == "") {
                $('#EventDate').focus();
                $('#messageError').html("The date is <code>Incorrect.</code>");
            } else if (dateNow.getFullYear() - dateString.getFullYear() == 0) {
                alert('Please set another Date');
                $('#EventDate').val('');
                $('#messageError').html("The date is <code>Incorrect.</code>");
            }
            $('#messageError').html("");
        }

        $("select#CompensationID").on('change', function () {
            var selectedCompensationText = $('#CompensationID option:selected').text();
            compensationID = parseInt($('#CompensationID option:selected').val());
            var compensationDetail = '<label class="col-md-4 col-form-label">Document Details</label>' +
                '<div class="col-md-7 col-form-label" >' +
                '<span>Requirement: ' + compensationRequirement.get(selectedCompensationText) + '</span><br />' +
                '<span>Value: ' + compensationValue.get(selectedCompensationText) + '</span></div>'
            $('#compensationDetail').html(compensationDetail)
        })

        $('#form').submit(function (event) {
            debugger;
            event.preventDefault()
            var CompensationRequest = new Object();
            CompensationRequest.nik = currentNIK;
            CompensationRequest.compensationID = compensationID
            CompensationRequest.eventDate = $('#EventDate').val();
            console.log(CompensationRequest)
            $.ajax({
                type: "POST",
                url: "/Request/Post",
                data: JSON.stringify(CompensationRequest),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        })

    </script>
}
